<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestionclientes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_peque"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_peque"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Curso.GestionCurso"></activity>
        <activity
            android:name=".ConsultarCliente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BorrarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditClientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gestion.GestionPartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrarsePartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".gestion.GestionAdministradorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gestion.GestionListaClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>